body {
    font-family: 'Open Sans', sans-serif;
    background-color: lightblue;
    margin: auto;
    padding: 50px;
}

h1 {
    text-align: center;
    color: black;
    font-size: 300%;

    -webkit-text-stroke: 1px red;
}

.distinct {
    color: red;
}

.pulse {
    animation: pulse 2s infinite linear;
}

#trigger {
    cursor: pointer;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

@keyframes pulse {
    0% {opacity: 1;}
    50% {opacity: .5;}
    100% {opacity: 1;}
}